TestProject/TestApp/Service References/PatientDataService/PatientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9884/PatientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestService" />
  <xs:element name="GetPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestService" minOccurs="0" name="GetPatientResult" nillable="true" type="q1:PatientDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestService" minOccurs="0" name="GetPatientsResult" nillable="true" type="q2:ArrayOfPatientDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>