TestProject/TestApp/Service References/PatientDataService/PatientService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GenderString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDataModel" nillable="true" type="tns:PatientDataModel" />
  <xs:complexType name="ArrayOfPatientDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDataModel" nillable="true" type="tns:PatientDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDataModel" nillable="true" type="tns:ArrayOfPatientDataModel" />
</xs:schema>